* {
  margin: 0;
  padding: 0;
}
/*Chat styling*/
/*Header*/
.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: cornflowerblue;
}
.chat .nav {
  padding-top:1rem;
  position:sticky;
  top: 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  border-bottom: 0.1rem solid cornflowerblue;
  color:#176bbe;
}
.chat .chat-back-arrow {
  flex: 0.05
}
.chat .sender-information {
  flex: 1;
  display: grid;
  justify-content: start;
  grid-template-columns: auto, auto;
  grid-template-rows: auto auto;
  grid-template-areas: "chat-profile-pic chat-receiver" "chat-profile-pic  status";
  column-gap: 1rem;
}
.chat .chat-profile-pic {
  grid-area: chat-profile-pic;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
}
.chat .chat-receiver {
  grid-area: chat-receiver
}
.status {
  grid-area: status;
}
.chat .nav-items {
  flex: 0.2;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
/*Main*/
.chat >.main {
  display: flex;
  flex-direction: column;
}
.chat .message-bubble {
  max-width: 50vw;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.1rem
}
.chat .message-sent {
  align-self: flex-end;
  word-wrap: break-word;
  text-align: end;
  border: 0.1rem solid cornflowerblue;
}
.chat .message-received {
  align-self: flex-start;
  border: 0.1rem solid cadetblue;
  word-wrap: break-word;
  text-align: start;
}
/*footer*/
.chat .footer {
  display: fixed;
  position: sticky;
  bottom: 0rem;
  display: flex;
  justify-content: center;
}
.chat .message-input {
  width: 80vw;
  display: flex;
  margin: 1rem;
  padding: 0rem 1rem 0rem 0rem;
  border-radius: 1rem;
  background-color:cornflowerblue;
  border: 0.1rem solid cornflowerblue;
  justify-content: space-between;

}
.chat .message-field {
  flex:1;
  padding: 1rem;
  justify-self: start;
  border-radius: 1rem;
  border-style: none;
}
 
.chat .send-message-button {
  width: 5vh;
  display: flex;
  padding-left: 1vw;
}

/*Chats*/
.chats {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "nav-bar" "main";
}
.chats .header {
  padding-top:1rem;
  grid-area: nav-bar;
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-rows: auto auto;
  grid-template-areas: "header-title nav-items" "tabs tabs";
  background-color: cornflowerblue;
  color: white;
}

.chats .header-title {
  grid-area: header-title
}
.chats .nav-items {
  grid-area: nav-items;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
  border-radius: 20rem;
}
.chats .nav-item {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.chats .tabs {
  padding-top: 1rem;
  grid-area: tabs;
  display: flex;
  margin-bottom: 0.1rem;
  
}
.chats .tab {
  flex:auto;
  background-color: inherit;
  color: white;
  border: none;
  padding: 0.5rem 0 0.5rem 0;
} 
.chats .selected-tab {
  background-color: white;
  color: cornflowerblue;
}

.chats .main {
  color:cornflowerblue;
  grid-area: main;
  padding: 0rem 5vw 0rem 5vw;
  display: flex;
  flex-direction: column;
}
.chats .main:first-of-type {
  margin-top: 1rem;
}
.chats .chat-card {
  color:cornflowerblue;
  display: grid;
  grid-template-columns: 5vw 70vw auto;
  grid-template-rows: auto auto;
  grid-template-areas: "image-container chat-card-receiver chat-card-timestamp" "image-container chat-card-last-message chat-card-timestamp";
  margin-bottom: 1rem;
  border-bottom: 0.1rem dashed cornflowerblue;
}
.chats .chat-card:active , .chats .chat-card:hover{
  background-color: cornflowerblue;
  color: white;
}


.chats .image-container {
  grid-area: image-container;
  justify-self: center;
  align-self: center;
}
.chats .chat-card-receiver {
  grid-area: chat-card-receiver;
}
.chats .chat-card-last-message {
  grid-area: chat-card-last-message;
  word-wrap:break-word;
  color:#176bbe;
  
}
.chats .chat-card-timestamp {
  grid-area: chat-card-timestamp;
  justify-self: end;
  align-self: center;
}
.chats .link {
  text-decoration: none;
}

